@import 'src/main-colors.scss';

mat-sidenav-container{
 background-color: white;


}

mat-toolbar {
    background: $color_6;
    color: white;
  }


 .logo img {
    width:100%; 
    height:auto; 
    max-width:300px;
 } 
  
  mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;


  }
  
  .content {
    height: calc(103vh - 150px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
  
    padding: 16px;
    padding-top: 10px;
  
    overflow: auto;
  //  overflow-y: hidden; /* Hide vertical scrollbar */
    //overflow-x: hidden; /* Hide vertical scrollbar */
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  
    mat-icon {
      margin-right: 8px;
    }
  }

  .menu-button:hover{
    background-color: $color_2;
  }

  
  
  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
  }
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }


//responsive
@media (max-width: 768px) {
    .content {
        height: auto;
        margin-left: 15px !important;
        overflow-y: hidden; /* Hide vertical scrollbar */
      }

}  



.nav-links {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  
    mat-icon {
      margin-right: 8px;
    }
  }
  
.nav-links > a {
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  }
  
 .nav-links > a:hover {
    background-color: $color_2;
  }







