

@import 'src/main-colors.scss';


.mat-mdc-card {
    background-color: #fff;
}

  

.buttons-reg{
    padding: 10px;
    display: flex;
    justify-content: center;
}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    .mat-mdc-form-field {
        width: 18%;
        margin-right: 10px;
    }

}