

@import 'src/main-colors.scss';


.mat-mdc-card {
    background-color: #fff;
}

.mat-mdc-card-header {
    justify-content: center;
}  

.buttons-reg{
    padding: 10px;
    display: flex;
    justify-content: center;
}